@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="my-5">Benvenuto nel Portale della Polizia Municipale</h1>
    <img class="my-5" src="~/img/polizia.png" width="400px" alt="immaginePoliziotto" />
</div>


